[Unit]
Description=Yadreno VPN Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/YadrenoVPN
ExecStart=/root/YadrenoVPN/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
